@model List<PasswordViewModel>

<div class="row">
    <div class="col-md-8">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="col-md-4 d-flex align-items-center">
        <form asp-controller="Password" asp-action="index" method="get">
            <div class="input-group">
                <input type="text" name="search" placeholder="Cerca...">
                <div class="input-group-append">
                    <button class="input-group-text">Ricerca</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <a asp-route-orderby="id" asp-route-ascending="true">Id</a>    
    </div>
    <div class="col-md-4">
        <a asp-route-orderby="descrizione" asp-route-ascending="true">Descrizione</a>       
    </div>
    <div class="col-md-4">
        <a asp-route-orderby="sito" asp-route-ascending="true">Sito</a>        
    </div>
    <div class="col-md-3" d-flex align-item-center>    
    </div>    
</div>

@foreach(PasswordViewModel pass in Model)
{
<hr>
<div class="row">
    <div class="col-md-1">
        @pass.id
    </div>
    <div class="col-md-4">
        @pass.descrizione
    </div>
    <div class="col-md-4">
        @pass.sito
    </div>
    <div class="col-md-3" d-flex align-item-center>
        <a class="btn btn-outline-primary" asp-action="detail" asp-controller="Password" asp-route-id="@pass.id">Dettaglio Password</a>
    </div>
</div>
}

<<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item active" aria-current="page">
            <a class="page-link" asp-route-page="1">Page 1 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item">
            <a class="page-link" asp-route-page="2">Page 2</a>
        </li>
        <li class="page-item">
            <a class="page-link" asp-route-page="3">Page 3</a>
        </li>
    </ul>
</nav>